
.slides {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem; /* Adjusted for better responsiveness */
  width: 100%;
  height: auto;
  margin-top: 70px;

  .carousel-wrapper {
    display: flex;
    transition: transform 0.7s ease-out;
    overflow: hidden;
  }

  .img-logo{
    width: 30px;
    height: 20px;;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    height: 380px;
    width: 300px; /* Fixed width for uniformity */
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  }

  .card.active {
    transform: scale(1.2);
    filter: none;
    z-index: 2;
  }

  .card.inactive {
    transform: scale(0.9) rotateY(10deg);
    filter: blur(3px);
    opacity: 0.7;
    z-index: 1;
  }


  .card p {
    

    width: 280px;
    height: auto;

  }

  .arrow-btn {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    color: white;
    font-size: 2rem;
    transition: transform 0.2s ease;
  }

  .arrow-btn:hover {
    transform: scale(1.2);
  }
}
